* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #000000;
  color: #ffffff;
}

nav {
  width: 100vw;
  min-height: 12vh;
  background-color: rgba(0, 0, 0,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30px;
  position: fixed;
  top: 0;
  z-index: 5000;
}
nav > h1 {
  font-family: Ruda;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.74px;
  margin: auto;
}
nav > ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}
nav > ul > li > a {
  width: fit-content;
  text-decoration: none;
  color: #ffffff;
  padding-inline: 10px;
  font-family: Ruda;
}
nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
nav > div > i {
  width: 62.331px;
}
#hero {
  margin-top: 12vh;
  width: 100vw;
  height: 88vh;
  background: url("assets/pizza1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero > .transbox {
  width: 100%;
  height: 100%;
  padding-left: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#hero > .transbox > h2 {
  width: 40vw;
  font-family: Quattrocento;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.568rem;
}
.horizontal-line {
  width: 40vw;
  height: 13px;
  background: #f24c4c;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.25);
}
#hero > .transbox > p {
  width: 40vw;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.25px;
  overflow: auto;
  text-align: justify;
}

#about-us {
  display: grid;
  grid-template-areas:
    "heading heading"
    "text image";
  gap: 70px 100px;
  padding: 50px 100px;
}
#about-us > h2 {
  grid-area: heading;
  text-align: center;
  font-family: Quattrocento;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
}
#about-us > h2 > span {
  width: fit-content;
  border-bottom: 10px solid #b62828;
  padding-inline: 7%;
  text-align: center;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 0% */
}

#about-us > p {
  grid-area: text;
  border-top: 4px solid #f24c4c;
  padding-top: 10px;
  text-align: justify;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 160% */
  letter-spacing: 0.14rem;
  overflow: auto;
}
.about-us-div > img {
  grid-area: image;
}

#menu > h2 {
  border-bottom: 9px solid #b62828;
  width: fit-content;
  margin: auto;
  padding-inline: 8%;
  text-align: center;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
}

#menu > p {
  width: 90vw;
  margin: auto;
  font-family: Ruda;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;
  padding-top: 30px;
}

#items {
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px 50px;
  padding-top: 50px;
  margin: auto;
}

.item > img {
  float: left;
  width: 273.083px;
  height: 200px;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.item > .desc {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  text-align: justify;
  word-break: break-all;
}
.desc > h4 {
  color: #f2c94c;
  font-family: Ruda;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 0% */
}
.desc > p {
  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.8px;
}

#carousel {
  width: 80vw;
  margin: auto;
  padding-top: 70px;
}

#carousel img {
  width: 80vw;
}
#carousel > h2 {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 9px solid #b62828;
  padding-inline: 8%;
  margin-bottom: 50px;
}

#my-indicators > button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

#gallery > h2 {
  width: fit-content;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 9px solid #b62828;
  padding-inline: 8%;
  margin: 50px auto;
}

#gallery-images > .image1 {
  grid-area: a;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image2 {
  grid-area: b;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image3 {
  grid-area: c;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image4 {
  grid-area: d;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image5 {
  grid-area: e;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image6 {
  grid-area: f;
  max-width: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#gallery-images {
  width: 80vw;
  display: grid;
  grid-template-areas:
    "a a a b e"
    "a a a b e"
    "a a a c e"
    "a a a c f"
    "a a a d f"
    "a a a d f";
  gap: 10px 10px;
  margin: auto;
}

#find-us {
  padding-bottom: 100px;
}
#find-us > h2 {
  width: fit-content;
  margin: 50px auto;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 9px solid #b62828;
  padding-inline: 8%;
}

#footer-details > p {
  grid-area: para;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;
}
#footer-details > address {
  grid-area: contact;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;
}
#footer-details > iframe {
  grid-area: my-maps;
  width: 120%;
  height: 120%;
}

#footer-details {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-areas:
    "para my-maps"
    "contact my-maps";
  gap: 0px 50px;
}

#footer2 {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
#footer2 > .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;

}

#footer2 > img {
  width: 202.795px;
  height: 148.962px;
}
