* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #000000;
  color: #ffffff;
}

nav {
  width: 100vw;
  min-height: 12vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30px;
  position: fixed;
  top: 0;
  z-index: 5000;
}
nav > h1 {
  font-family: Ruda;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.74px;
  margin: auto;
}
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}
nav > ul > li > a {
  width: fit-content;
  text-decoration: none;
  color: #ffffff;
  font-family: Ruda;
  padding: 4px 7px;
  border-radius: 5px;
}
nav > ul > li >a:visited {
  color: white;
  background-color: black;
}
nav > ul > li > a:hover {
  background-color: #f24c4c;
  color: white;
}
nav > ul > li > a:active {
  background-color: #f24c4c;
  color: white;
}

nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
nav > div > i {
  width: 62.331px;
}
#hero {
  margin-top: 12vh;
  width: 100vw;
  height: 88vh;
  background: url("assets/pizza1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero > .transbox {
  width: 100%;
  height: 100%;
  padding-left: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#hero > .transbox > h2 {
  width: 40vw;
  font-family: Quattrocento;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.568rem;
}
.horizontal-line {
  width: 40vw;
  height: 13px;
  background: #f24c4c;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.25);
}
#hero > .transbox > p {
  width: 40vw;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.25px;
  overflow: auto;
  text-align: justify;
}

#about-us > h2 {
  grid-area: heading;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  width: fit-content;
  margin: auto;
  border-bottom: 10px solid #b62828;
  padding-inline: 7%;
}
#about-us > p {
  grid-area: text;
  border-top: 4px solid #f24c4c;
  padding-top: 10px;
  text-align: justify;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 160% */
  letter-spacing: 0.14rem;
  overflow: auto;
  min-width: 40vw;
  /* height: 90%; */
}
#about-us > img {
  grid-area: img1;
}
#about-us {
  width: 80vw;
  display: grid;
  grid-template-areas:
    "heading heading heading"
    "text text img1";
  gap: 70px 100px;
  margin: 30px auto 0px;
}
#menu {
  width: 90.1vw;
  margin: auto;
}

#menu > h2 {
  border-bottom: 9px solid #b62828;
  width: fit-content;
  margin: auto;
  padding-inline: 8%;
  text-align: center;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;
}

#menu > p {
  width: 100%;
  margin: auto;
  font-family: Ruda;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;
  padding-top: 30px;
}

#items {
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px 50px;
  padding-top: 50px;
  margin: auto;
}

.item > img {
  float: left;
  width: 273.083px;
  height: 200px;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.item > .desc {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  text-align: justify;
  word-break: break-all;
}
.desc > h4 {
  color: #f2c94c;
  font-family: Ruda;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 0% */
}
.desc > p {
  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.8px;
}

#carousel {
  width: 80vw;
  margin: auto;
  padding-top: 70px;
}

#carousel img {
  width: 80vw;
}
#carousel > h2 {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 9px solid #b62828;
  padding-inline: 8%;
  margin-bottom: 50px;
}

#my-indicators > button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

#gallery > h2 {
  width: fit-content;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 9px solid #b62828;
  padding-inline: 8%;
  margin: 50px auto;
}

#gallery-images > .image1 {
  grid-area: a;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image2 {
  grid-area: b;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image3 {
  grid-area: c;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image4 {
  grid-area: d;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image5 {
  grid-area: e;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#gallery-images > .image6 {
  grid-area: f;
  max-width: 100%;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#gallery-images {
  width: 80vw;
  display: grid;
  grid-template-areas:
    "a a a b e"
    "a a a b e"
    "a a a c e"
    "a a a c f"
    "a a a d f"
    "a a a d f";
  gap: 10px 10px;
  margin: auto;
}

#find-us {
  padding-bottom: 100px;
}
#find-us > h2 {
  width: fit-content;
  margin: 50px auto;
  font-family: Quattrocento;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  border-bottom: 9px solid #b62828;
  padding-inline: 8%;
}

#footer-details > p {
  width: 90%;
  grid-area: para;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;
}
#footer-details > address {
  width: 90%;
  grid-area: contact;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;
}
#footer-details > iframe {
  grid-area: my-maps;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#footer-details {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-areas:
    "para my-maps"
    "contact my-maps";
  gap: 0px 50px;
}

#footer2 {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
#footer2 > .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Ruda;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
  letter-spacing: 2.25px;
  text-align: justify;
}

#footer2 > img {
  width: 202.795px;
  height: 148.962px;
}
@media screen and (max-width: 1058px) {
  #hero > .transbox > h2 {
    width: 50vw;
  }
  .horizontal-line {
    width: 50vw;
  }
  #hero > .transbox > p {
    width: 50vw;
  }
  #about-us > h2 {
    margin: auto;
  }
  #about-us > p {
    border: none;
    width: 100%;
  }
  #about-us {
    width: 85vw;
    display: grid;
    grid-template-areas:
      "heading"
      "text"
      "img1";
    margin: 30px auto 0px;
    gap: 20px;
  }
  #about-us > img {
    max-width: 60%;
    margin: auto;
  }
  #menu {
    width: 85vw;
    margin: auto;
  }
  #items {
    width: 60vw;
    display: grid;
    grid-template-columns: auto;
    gap: 50px 50px;
    padding-top: 50px;
    margin: auto;
  }

  @media screen and (max-width: 986px) {
    nav > div {
      display: none;
    }
    #hero > .transbox > h2 {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 792px) {
    #hero > .transbox {
      width: 100vw;
      margin: 0;
      padding: 0;
    }
    #hero > .transbox > h2 {
      width: 80vw;
      font-size: 4rem;
      margin: auto;
    }
    #hero > .transbox > .horizontal-line {
      width: 80vw;
      margin: auto;
    }
    #hero > .transbox > p {
      width: 80vw;
      margin: auto;
      padding: 0;
    }
    #about-us > img {
      width: 50vw !important;
    }
    #items > .item > img {
      max-width: 30vw;
    }
    #items > .item > div {
      max-width: 50vw;
    }
    #footer-details {
      width: 80vw;
      margin: auto;
      display: grid;
      grid-template-areas:
        "para"
        "contact"
        "my-maps";
      gap: 0px 50px;
    }
  }

  @media screen and (max-width: 610px) {
    nav > h1 {
      display: none;
    }

    #hero > .transbox {
      display: grid;
      grid-template-areas:
        "h2-part"
        "line-part"
        "para-part";
      padding: 8% 0px;
    }
    #hero > .transbox > h2 {
      grid-area: h2-part;
      font-size: 3rem;
    }
    #hero > .transbox > p {
      grid-area: para-part;
      /* font-size: 1rem; */
    }
    #hero > .transbox > .horizontal-line {
      /* display: none; */
      grid-area: line-part;
    }
    #about-us > h2 {
      font-size: 2rem;
      margin-bottom: 3%;
      padding-bottom: 0px;
    }
    #about-us p {
      padding-top: 0px;
    }
    #menu > h2 {
      font-size: 2rem;
      margin-bottom: 3%;
      padding-bottom: 0px;
    }
    #menu p {
      padding-top: 0px;
    }
    #items > .item > img {
      width: 25vw;
      height: 25vw;
    }
    #items > .item > .desc {
      width: 35vw;
      height: 25vw;
    }
    #items > .item > .desc > h4 {
      font-size: 1.2rem;
    }
    #items > .item > .desc > p {
      font-size: 1.1rem;
    }
    #carousel > h2 {
      font-size: 2rem;
      margin-bottom: 3%;
    }
    #gallery > h2 {
      font-size: 2rem;
      margin-bottom: 3%;
      padding-bottom: 0px;
    }
    #find-us > h2 {
      font-size: 2rem;
      margin-bottom: 3%;
    }
    #footer2 {
      display: grid;
      grid-template-columns: auto;
      /* width: 80%;   */
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 495px) {
    nav > ul > li:nth-child(4) {
      display: none;
    }
    nav ul {
      margin: 0;
      width: fit-content;
      font-size: 1rem;
    }
    #hero > .transbox > h2 {
      letter-spacing: 2px;
    }
    #hero > .transbox > p {
      line-height: 2rem; /* 160% */
      letter-spacing: 1px;
    }
    #about-us > p {
      letter-spacing: 0px;
      overflow: auto;
    }
    #menu p {
      letter-spacing: 0px;
      overflow: auto;
    }
    #items > .item >img {
      margin-top: 0px;
    }
    #items > .item > .desc > h4 {
      font-size: 1rem;
    }
    #items > .item > .desc > p {
      font-size: 1rem;
      letter-spacing: 0px;
      overflow: auto;
    }
    #find-us p {
      letter-spacing: 0px;
      font-size: 1.5rem;  
    }
    address {
      font-size: 1rem;
    }
    #footer2 {
      width: 90vw;
      margin:0 auto;

    }
    #footer2>img {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
  }

  @media screen and (max-width:338px) {
    nav {
      padding-left: 0;
      width: 100vw;
    }
    nav ul li a {
      margin: 0;
      max-width: fit-content;
      font-size: 0.9rem;
      padding: 4px 3px;
    }
    nav li:nth-child(6) {
      display: none;
    }
    #hero {
      height: 60vh;
      overflow: hidden;

    }
    #hero>.transbox>h2 {
      font-size: 1.7rem;
    }
    #hero>.transbox>p {
      font-size: 1.1rem;
      line-height: 1.2rem;
      overflow: hidden;

    }
    #about-us {
      width: 90vw;
    }
    #about-us > h2 {
      font-size: 1.3rem;
    }
    #about-us p {
      letter-spacing: 0;
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
    #menu h2 {
      font-size: 1.3rem;
    }
    #menu p {
      letter-spacing: 0;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
    #items {
      width: 80vw;
      margin: auto;
    }
    #items>.item {
      width: 100%;
    }
    #items>.item> img {
      width: 50vw;
    }
    #items>.item> .desc {
      width: 50vw;
    }

    #find-us h2 {
      font-size: 1.3rem;
    }
    #find-us p {
      letter-spacing: 0;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
    #carousel h2 {
      font-size: 1.3rem;
    }
    #gallery h2 {
      font-size: 1.3rem;
    }
    address span{
      letter-spacing: 0;
      font-size: 0.8rem;
      text-align: left;
    }
    #footer2{
      display: none;
    }
  }
}
